.search-wrapper {
  position: relative;
  margin: 0 0 10px 0;
}

.search-wrapper .search-wrapper-group {
  position: relative;
}

.search-wrapper .form-control {
  padding-left: 40px !important;
  padding-right: 40px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-wrapper-group .search-wrapper-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: var(--content-color);
}

.search-wrapper-group .search-wrapper-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  padding: 5px 10px;
  border-right: 1px;
  color: var(--content-color);
}
