.f-10 {
  font-size: 10px !important;
}

.f-11 {
  font-size: 11px !important;
}

.f-12 {
  font-size: 12px !important;
}

.f-13 {
  font-size: 13px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-15 {
  font-size: 15px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-17 {
  font-size: 17px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-19 {
  font-size: 19px !important;
}

.f-20 {
  font-size: 20px !important;
}

.fw100 {
  font-weight: 100 !important;
}

.fw100i {
  font-weight: 100 !important;
  font-style: italic !important;
}

.fw200 {
  font-weight: 200 !important;
}

.fw200i {
  font-weight: 200 !important;
  font-style: italic !important;
}

.fw300 {
  font-weight: 300 !important;
}

.fw300i {
  font-weight: 300 !important;
  font-style: italic !important;
}

.bg-shade-10 .fw400 {
  font-weight: 400 !important;
}

.fw400i {
  font-weight: 400 !important;
  font-style: italic !important;
}

.fw500 {
  font-weight: 500 !important;
}

.fw500i {
  font-weight: 500 !important;
  font-style: italic !important;
}

.fw600 {
  font-weight: 600 !important;
}

.fw600i {
  font-weight: 600 !important;
  font-style: italic !important;
}

.fw700 {
  font-weight: 700 !important;
}

.fw700i {
  font-weight: 700 !important;
  font-style: italic !important;
}

.fw800 {
  font-weight: 800 !important;
}

.fw800i {
  font-weight: 800 !important;
  font-style: italic !important;
}

.fw900 {
  font-weight: 900 !important;
}

.fw900i {
  font-weight: 900 !important;
  font-style: italic !important;
}
