.mr-auto {
  margin: 0 auto;
}

/* Top Margin */

.mr-t-0 {
  margin-top: 0 !important;
}

.mr-t-1 {
  margin-top: 1px !important;
}

.mr-t-2 {
  margin-top: 2px !important;
}

.mr-t-3 {
  margin-top: 3px !important;
}

.mr-t-4 {
  margin-top: 4px !important;
}

.mr-t-5 {
  margin-top: 5px !important;
}

.mr-t-6 {
  margin-top: 6px !important;
}

.mr-t-7 {
  margin-top: 7px !important;
}

.mr-t-8 {
  margin-top: 8px !important;
}

.mr-t-9 {
  margin-top: 9px !important;
}

.mr-t-10 {
  margin-top: 10px !important;
}

.mr-t-11 {
  margin-top: 11px !important;
}

.mr-t-12 {
  margin-top: 12px !important;
}

.mr-t-13 {
  margin-top: 13px !important;
}

.mr-t-14 {
  margin-top: 14px !important;
}

.mr-t-15 {
  margin-top: 15px !important;
}

.mr-t-16 {
  margin-top: 16px !important;
}

.mr-t-17 {
  margin-top: 17px !important;
}

.mr-t-18 {
  margin-top: 18px !important;
}

.mr-t-19 {
  margin-top: 19px !important;
}

.mr-t-20 {
  margin-top: 20px !important;
}

.mr-t-21 {
  margin-top: 21px !important;
}

.mr-t-22 {
  margin-top: 22px !important;
}

.mr-t-23 {
  margin-top: 23px !important;
}

.mr-t-24 {
  margin-top: 24px !important;
}

.mr-t-25 {
  margin-top: 25px !important;
}

.mr-t-26 {
  margin-top: 26px !important;
}

.mr-t-27 {
  margin-top: 27px !important;
}

.mr-t-28 {
  margin-top: 28px !important;
}

.mr-t-29 {
  margin-top: 29px !important;
}

.mr-t-30 {
  margin-top: 30px !important;
}

.mr-t-31 {
  margin-top: 31px !important;
}

.mr-t-32 {
  margin-top: 32px !important;
}

.mr-t-33 {
  margin-top: 33px !important;
}

.mr-t-34 {
  margin-top: 34px !important;
}

.mr-t-35 {
  margin-top: 35px !important;
}

.mr-t-36 {
  margin-top: 36px !important;
}

.mr-t-37 {
  margin-top: 37px !important;
}

.mr-t-38 {
  margin-top: 38px !important;
}

.mr-t-39 {
  margin-top: 39px !important;
}

.mr-t-40 {
  margin-top: 40px !important;
}

.mr-t-41 {
  margin-top: 41px !important;
}

.mr-t-42 {
  margin-top: 42px !important;
}

.mr-t-43 {
  margin-top: 43px !important;
}

.mr-t-44 {
  margin-top: 44px !important;
}

.mr-t-45 {
  margin-top: 45px !important;
}

.mr-t-46 {
  margin-top: 46px !important;
}

.mr-t-47 {
  margin-top: 47px !important;
}

.mr-t-48 {
  margin-top: 48px !important;
}

.mr-t-49 {
  margin-top: 49px !important;
}

.mr-t-50 {
  margin-top: 50px !important;
}

.mr-t-51 {
  margin-top: 51px !important;
}

.mr-t-52 {
  margin-top: 52px !important;
}

.mr-t-53 {
  margin-top: 53px !important;
}

.mr-t-54 {
  margin-top: 54px !important;
}

.mr-t-55 {
  margin-top: 55px !important;
}

.mr-t-56 {
  margin-top: 56px !important;
}

.mr-t-57 {
  margin-top: 57px !important;
}

.mr-t-58 {
  margin-top: 58px !important;
}

.mr-t-59 {
  margin-top: 59px !important;
}

.mr-t-60 {
  margin-top: 60px !important;
}

.mr-t-61 {
  margin-top: 61px !important;
}

.mr-t-62 {
  margin-top: 62px !important;
}

.mr-t-63 {
  margin-top: 63px !important;
}

.mr-t-64 {
  margin-top: 64px !important;
}

.mr-t-65 {
  margin-top: 65px !important;
}

.mr-t-66 {
  margin-top: 66px !important;
}

.mr-t-67 {
  margin-top: 67px !important;
}

.mr-t-68 {
  margin-top: 68px !important;
}

.mr-t-69 {
  margin-top: 69px !important;
}

.mr-t-70 {
  margin-top: 70px !important;
}

.mr-t-71 {
  margin-top: 71px !important;
}

.mr-t-72 {
  margin-top: 72px !important;
}

.mr-t-73 {
  margin-top: 73px !important;
}

.mr-t-74 {
  margin-top: 74px !important;
}

.mr-t-75 {
  margin-top: 75px !important;
}

.mr-t-76 {
  margin-top: 76px !important;
}

.mr-t-77 {
  margin-top: 77px !important;
}

.mr-t-78 {
  margin-top: 78px !important;
}

.mr-t-79 {
  margin-top: 79px !important;
}

.mr-t-80 {
  margin-top: 80px !important;
}

.mr-t-81 {
  margin-top: 81px !important;
}

.mr-t-82 {
  margin-top: 82px !important;
}

.mr-t-83 {
  margin-top: 83px !important;
}

.mr-t-84 {
  margin-top: 84px !important;
}

.mr-t-85 {
  margin-top: 85px !important;
}

.mr-t-86 {
  margin-top: 86px !important;
}

.mr-t-87 {
  margin-top: 87px !important;
}

.mr-t-88 {
  margin-top: 88px !important;
}

.mr-t-89 {
  margin-top: 89px !important;
}

.mr-t-90 {
  margin-top: 90px !important;
}

.mr-t-91 {
  margin-top: 91px !important;
}

.mr-t-92 {
  margin-top: 92px !important;
}

.mr-t-93 {
  margin-top: 93px !important;
}

.mr-t-94 {
  margin-top: 94px !important;
}

.mr-t-95 {
  margin-top: 95px !important;
}

.mr-t-96 {
  margin-top: 96px !important;
}

.mr-t-97 {
  margin-top: 97px !important;
}

.mr-t-98 {
  margin-top: 98px !important;
}

.mr-t-99 {
  margin-top: 99px !important;
}

.mr-t-100 {
  margin-top: 100px !important;
}

/* Right Margin */

.mr-r-0 {
  margin-right: 0 !important;
}

.mr-r-1 {
  margin-right: 1px !important;
}

.mr-r-2 {
  margin-right: 2px !important;
}

.mr-r-3 {
  margin-right: 3px !important;
}

.mr-r-4 {
  margin-right: 4px !important;
}

.mr-r-5 {
  margin-right: 5px !important;
}

.mr-r-6 {
  margin-right: 6px !important;
}

.mr-r-7 {
  margin-right: 7px !important;
}

.mr-r-8 {
  margin-right: 8px !important;
}

.mr-r-9 {
  margin-right: 9px !important;
}

.mr-r-10 {
  margin-right: 10px !important;
}

.mr-r-11 {
  margin-right: 11px !important;
}

.mr-r-12 {
  margin-right: 12px !important;
}

.mr-r-13 {
  margin-right: 13px !important;
}

.mr-r-14 {
  margin-right: 14px !important;
}

.mr-r-15 {
  margin-right: 15px !important;
}

.mr-r-16 {
  margin-right: 16px !important;
}

.mr-r-17 {
  margin-right: 17px !important;
}

.mr-r-18 {
  margin-right: 18px !important;
}

.mr-r-19 {
  margin-right: 19px !important;
}

.mr-r-20 {
  margin-right: 20px !important;
}

.mr-r-21 {
  margin-right: 21px !important;
}

.mr-r-22 {
  margin-right: 22px !important;
}

.mr-r-23 {
  margin-right: 23px !important;
}

.mr-r-24 {
  margin-right: 24px !important;
}

.mr-r-25 {
  margin-right: 25px !important;
}

.mr-r-26 {
  margin-right: 26px !important;
}

.mr-r-27 {
  margin-right: 27px !important;
}

.mr-r-28 {
  margin-right: 28px !important;
}

.mr-r-29 {
  margin-right: 29px !important;
}

.mr-r-30 {
  margin-right: 30px !important;
}

.mr-r-31 {
  margin-right: 31px !important;
}

.mr-r-32 {
  margin-right: 32px !important;
}

.mr-r-33 {
  margin-right: 33px !important;
}

.mr-r-34 {
  margin-right: 34px !important;
}

.mr-r-35 {
  margin-right: 35px !important;
}

.mr-r-36 {
  margin-right: 36px !important;
}

.mr-r-37 {
  margin-right: 37px !important;
}

.mr-r-38 {
  margin-right: 38px !important;
}

.mr-r-39 {
  margin-right: 39px !important;
}

.mr-r-40 {
  margin-right: 40px !important;
}

.mr-r-41 {
  margin-right: 41px !important;
}

.mr-r-42 {
  margin-right: 42px !important;
}

.mr-r-43 {
  margin-right: 43px !important;
}

.mr-r-44 {
  margin-right: 44px !important;
}

.mr-r-45 {
  margin-right: 45px !important;
}

.mr-r-46 {
  margin-right: 46px !important;
}

.mr-r-47 {
  margin-right: 47px !important;
}

.mr-r-48 {
  margin-right: 48px !important;
}

.mr-r-49 {
  margin-right: 49px !important;
}

.mr-r-50 {
  margin-right: 50px !important;
}

.mr-r-51 {
  margin-right: 51px !important;
}

.mr-r-52 {
  margin-right: 52px !important;
}

.mr-r-53 {
  margin-right: 53px !important;
}

.mr-r-54 {
  margin-right: 54px !important;
}

.mr-r-55 {
  margin-right: 55px !important;
}

.mr-r-56 {
  margin-right: 56px !important;
}

.mr-r-57 {
  margin-right: 57px !important;
}

.mr-r-58 {
  margin-right: 58px !important;
}

.mr-r-59 {
  margin-right: 59px !important;
}

.mr-r-60 {
  margin-right: 60px !important;
}

.mr-r-61 {
  margin-right: 61px !important;
}

.mr-r-62 {
  margin-right: 62px !important;
}

.mr-r-63 {
  margin-right: 63px !important;
}

.mr-r-64 {
  margin-right: 64px !important;
}

.mr-r-65 {
  margin-right: 65px !important;
}

.mr-r-66 {
  margin-right: 66px !important;
}

.mr-r-67 {
  margin-right: 67px !important;
}

.mr-r-68 {
  margin-right: 68px !important;
}

.mr-r-69 {
  margin-right: 69px !important;
}

.mr-r-70 {
  margin-right: 70px !important;
}

.mr-r-71 {
  margin-right: 71px !important;
}

.mr-r-72 {
  margin-right: 72px !important;
}

.mr-r-73 {
  margin-right: 73px !important;
}

.mr-r-74 {
  margin-right: 74px !important;
}

.mr-r-75 {
  margin-right: 75px !important;
}

.mr-r-76 {
  margin-right: 76px !important;
}

.mr-r-77 {
  margin-right: 77px !important;
}

.mr-r-78 {
  margin-right: 78px !important;
}

.mr-r-79 {
  margin-right: 79px !important;
}

.mr-r-80 {
  margin-right: 80px !important;
}

.mr-r-81 {
  margin-right: 81px !important;
}

.mr-r-82 {
  margin-right: 82px !important;
}

.mr-r-83 {
  margin-right: 83px !important;
}

.mr-r-84 {
  margin-right: 84px !important;
}

.mr-r-85 {
  margin-right: 85px !important;
}

.mr-r-86 {
  margin-right: 86px !important;
}

.mr-r-87 {
  margin-right: 87px !important;
}

.mr-r-88 {
  margin-right: 88px !important;
}

.mr-r-89 {
  margin-right: 89px !important;
}

.mr-r-90 {
  margin-right: 90px !important;
}

.mr-r-91 {
  margin-right: 91px !important;
}

.mr-r-92 {
  margin-right: 92px !important;
}

.mr-r-93 {
  margin-right: 93px !important;
}

.mr-r-94 {
  margin-right: 94px !important;
}

.mr-r-95 {
  margin-right: 95px !important;
}

.mr-r-96 {
  margin-right: 96px !important;
}

.mr-r-97 {
  margin-right: 97px !important;
}

.mr-r-98 {
  margin-right: 98px !important;
}

.mr-r-99 {
  margin-right: 99px !important;
}

.mr-r-100 {
  margin-right: 100px !important;
}

/* Bottom margin */

.mr-b-0 {
  margin-bottom: 0 !important;
}

.mr-b-1 {
  margin-bottom: 1px !important;
}

.mr-b-2 {
  margin-bottom: 2px !important;
}

.mr-b-3 {
  margin-bottom: 3px !important;
}

.mr-b-4 {
  margin-bottom: 4px !important;
}

.mr-b-5 {
  margin-bottom: 5px !important;
}

.mr-b-6 {
  margin-bottom: 6px !important;
}

.mr-b-7 {
  margin-bottom: 7px !important;
}

.mr-b-8 {
  margin-bottom: 8px !important;
}

.mr-b-9 {
  margin-bottom: 9px !important;
}

.mr-b-10 {
  margin-bottom: 10px !important;
}

.mr-b-11 {
  margin-bottom: 11px !important;
}

.mr-b-12 {
  margin-bottom: 12px !important;
}

.mr-b-13 {
  margin-bottom: 13px !important;
}

.mr-b-14 {
  margin-bottom: 14px !important;
}

.mr-b-15 {
  margin-bottom: 15px !important;
}

.mr-b-16 {
  margin-bottom: 16px !important;
}

.mr-b-17 {
  margin-bottom: 17px !important;
}

.mr-b-18 {
  margin-bottom: 18px !important;
}

.mr-b-19 {
  margin-bottom: 19px !important;
}

.mr-b-20 {
  margin-bottom: 20px !important;
}

.mr-b-21 {
  margin-bottom: 21px !important;
}

.mr-b-22 {
  margin-bottom: 22px !important;
}

.mr-b-23 {
  margin-bottom: 23px !important;
}

.mr-b-24 {
  margin-bottom: 24px !important;
}

.mr-b-25 {
  margin-bottom: 25px !important;
}

.mr-b-26 {
  margin-bottom: 26px !important;
}

.mr-b-27 {
  margin-bottom: 27px !important;
}

.mr-b-28 {
  margin-bottom: 28px !important;
}

.mr-b-29 {
  margin-bottom: 29px !important;
}

.mr-b-30 {
  margin-bottom: 30px !important;
}

.mr-b-31 {
  margin-bottom: 31px !important;
}

.mr-b-32 {
  margin-bottom: 32px !important;
}

.mr-b-33 {
  margin-bottom: 33px !important;
}

.mr-b-34 {
  margin-bottom: 34px !important;
}

.mr-b-35 {
  margin-bottom: 35px !important;
}

.mr-b-36 {
  margin-bottom: 36px !important;
}

.mr-b-37 {
  margin-bottom: 37px !important;
}

.mr-b-38 {
  margin-bottom: 38px !important;
}

.mr-b-39 {
  margin-bottom: 39px !important;
}

.mr-b-40 {
  margin-bottom: 40px !important;
}

.mr-b-41 {
  margin-bottom: 41px !important;
}

.mr-b-42 {
  margin-bottom: 42px !important;
}

.mr-b-43 {
  margin-bottom: 43px !important;
}

.mr-b-44 {
  margin-bottom: 44px !important;
}

.mr-b-45 {
  margin-bottom: 45px !important;
}

.mr-b-46 {
  margin-bottom: 46px !important;
}

.mr-b-47 {
  margin-bottom: 47px !important;
}

.mr-b-48 {
  margin-bottom: 48px !important;
}

.mr-b-49 {
  margin-bottom: 49px !important;
}

.mr-b-50 {
  margin-bottom: 50px !important;
}

.mr-b-51 {
  margin-bottom: 51px !important;
}

.mr-b-52 {
  margin-bottom: 52px !important;
}

.mr-b-53 {
  margin-bottom: 53px !important;
}

.mr-b-54 {
  margin-bottom: 54px !important;
}

.mr-b-55 {
  margin-bottom: 55px !important;
}

.mr-b-56 {
  margin-bottom: 56px !important;
}

.mr-b-57 {
  margin-bottom: 57px !important;
}

.mr-b-58 {
  margin-bottom: 58px !important;
}

.mr-b-59 {
  margin-bottom: 59px !important;
}

.mr-b-60 {
  margin-bottom: 60px !important;
}

.mr-b-61 {
  margin-bottom: 61px !important;
}

.mr-b-62 {
  margin-bottom: 62px !important;
}

.mr-b-63 {
  margin-bottom: 63px !important;
}

.mr-b-64 {
  margin-bottom: 64px !important;
}

.mr-b-65 {
  margin-bottom: 65px !important;
}

.mr-b-66 {
  margin-bottom: 66px !important;
}

.mr-b-67 {
  margin-bottom: 67px !important;
}

.mr-b-68 {
  margin-bottom: 68px !important;
}

.mr-b-69 {
  margin-bottom: 69px !important;
}

.mr-b-70 {
  margin-bottom: 70px !important;
}

.mr-b-71 {
  margin-bottom: 71px !important;
}

.mr-b-72 {
  margin-bottom: 72px !important;
}

.mr-b-73 {
  margin-bottom: 73px !important;
}

.mr-b-74 {
  margin-bottom: 74px !important;
}

.mr-b-75 {
  margin-bottom: 75px !important;
}

.mr-b-76 {
  margin-bottom: 76px !important;
}

.mr-b-77 {
  margin-bottom: 77px !important;
}

.mr-b-78 {
  margin-bottom: 78px !important;
}

.mr-b-79 {
  margin-bottom: 79px !important;
}

.mr-b-80 {
  margin-bottom: 80px !important;
}

.mr-b-81 {
  margin-bottom: 81px !important;
}

.mr-b-82 {
  margin-bottom: 82px !important;
}

.mr-b-83 {
  margin-bottom: 83px !important;
}

.mr-b-84 {
  margin-bottom: 84px !important;
}

.mr-b-85 {
  margin-bottom: 85px !important;
}

.mr-b-86 {
  margin-bottom: 86px !important;
}

.mr-b-87 {
  margin-bottom: 87px !important;
}

.mr-b-88 {
  margin-bottom: 88px !important;
}

.mr-b-89 {
  margin-bottom: 89px !important;
}

.mr-b-90 {
  margin-bottom: 90px !important;
}

.mr-b-91 {
  margin-bottom: 91px !important;
}

.mr-b-92 {
  margin-bottom: 92px !important;
}

.mr-b-93 {
  margin-bottom: 93px !important;
}

.mr-b-94 {
  margin-bottom: 94px !important;
}

.mr-b-95 {
  margin-bottom: 95px !important;
}

.mr-b-96 {
  margin-bottom: 96px !important;
}

.mr-b-97 {
  margin-bottom: 97px !important;
}

.mr-b-98 {
  margin-bottom: 98px !important;
}

.mr-b-99 {
  margin-bottom: 99px !important;
}

.mr-b-100 {
  margin-bottom: 100px !important;
}

/* Left margin  */

.mr-l-0 {
  margin-left: 0 !important;
}

.mr-l-1 {
  margin-left: 1px !important;
}

.mr-l-2 {
  margin-left: 2px !important;
}

.mr-l-3 {
  margin-left: 3px !important;
}

.mr-l-4 {
  margin-left: 4px !important;
}

.mr-l-5 {
  margin-left: 5px !important;
}

.mr-l-6 {
  margin-left: 6px !important;
}

.mr-l-7 {
  margin-left: 7px !important;
}

.mr-l-8 {
  margin-left: 8px !important;
}

.mr-l-9 {
  margin-left: 9px !important;
}

.mr-l-10 {
  margin-left: 10px !important;
}

.mr-l-11 {
  margin-left: 11px !important;
}

.mr-l-12 {
  margin-left: 12px !important;
}

.mr-l-13 {
  margin-left: 13px !important;
}

.mr-l-14 {
  margin-left: 14px !important;
}

.mr-l-15 {
  margin-left: 15px !important;
}

.mr-l-16 {
  margin-left: 16px !important;
}

.mr-l-17 {
  margin-left: 17px !important;
}

.mr-l-18 {
  margin-left: 18px !important;
}

.mr-l-19 {
  margin-left: 19px !important;
}

.mr-l-20 {
  margin-left: 20px !important;
}

.mr-l-21 {
  margin-left: 21px !important;
}

.mr-l-22 {
  margin-left: 22px !important;
}

.mr-l-23 {
  margin-left: 23px !important;
}

.mr-l-24 {
  margin-left: 24px !important;
}

.mr-l-25 {
  margin-left: 25px !important;
}

.mr-l-26 {
  margin-left: 26px !important;
}

.mr-l-27 {
  margin-left: 27px !important;
}

.mr-l-28 {
  margin-left: 28px !important;
}

.mr-l-29 {
  margin-left: 29px !important;
}

.mr-l-30 {
  margin-left: 30px !important;
}

.mr-l-31 {
  margin-left: 31px !important;
}

.mr-l-32 {
  margin-left: 32px !important;
}

.mr-l-33 {
  margin-left: 33px !important;
}

.mr-l-34 {
  margin-left: 34px !important;
}

.mr-l-35 {
  margin-left: 35px !important;
}

.mr-l-36 {
  margin-left: 36px !important;
}

.mr-l-37 {
  margin-left: 37px !important;
}

.mr-l-38 {
  margin-left: 38px !important;
}

.mr-l-39 {
  margin-left: 39px !important;
}

.mr-l-40 {
  margin-left: 40px !important;
}

.mr-l-41 {
  margin-left: 41px !important;
}

.mr-l-42 {
  margin-left: 42px !important;
}

.mr-l-43 {
  margin-left: 43px !important;
}

.mr-l-44 {
  margin-left: 44px !important;
}

.mr-l-45 {
  margin-left: 45px !important;
}

.mr-l-46 {
  margin-left: 46px !important;
}

.mr-l-47 {
  margin-left: 47px !important;
}

.mr-l-48 {
  margin-left: 48px !important;
}

.mr-l-49 {
  margin-left: 49px !important;
}

.mr-l-50 {
  margin-left: 50px !important;
}

.mr-l-51 {
  margin-left: 51px !important;
}

.mr-l-52 {
  margin-left: 52px !important;
}

.mr-l-53 {
  margin-left: 53px !important;
}

.mr-l-54 {
  margin-left: 54px !important;
}

.mr-l-55 {
  margin-left: 55px !important;
}

.mr-l-56 {
  margin-left: 56px !important;
}

.mr-l-57 {
  margin-left: 57px !important;
}

.mr-l-58 {
  margin-left: 58px !important;
}

.mr-l-59 {
  margin-left: 59px !important;
}

.mr-l-60 {
  margin-left: 60px !important;
}

.mr-l-61 {
  margin-left: 61px !important;
}

.mr-l-62 {
  margin-left: 62px !important;
}

.mr-l-63 {
  margin-left: 63px !important;
}

.mr-l-64 {
  margin-left: 64px !important;
}

.mr-l-65 {
  margin-left: 65px !important;
}

.mr-l-66 {
  margin-left: 66px !important;
}

.mr-l-67 {
  margin-left: 67px !important;
}

.mr-l-68 {
  margin-left: 68px !important;
}

.mr-l-69 {
  margin-left: 69px !important;
}

.mr-l-70 {
  margin-left: 70px !important;
}

.mr-l-71 {
  margin-left: 71px !important;
}

.mr-l-72 {
  margin-left: 72px !important;
}

.mr-l-73 {
  margin-left: 73px !important;
}

.mr-l-74 {
  margin-left: 74px !important;
}

.mr-l-75 {
  margin-left: 75px !important;
}

.mr-l-76 {
  margin-left: 76px !important;
}

.mr-l-77 {
  margin-left: 77px !important;
}

.mr-l-78 {
  margin-left: 78px !important;
}

.mr-l-79 {
  margin-left: 79px !important;
}

.mr-l-80 {
  margin-left: 80px !important;
}

.mr-l-81 {
  margin-left: 81px !important;
}

.mr-l-82 {
  margin-left: 82px !important;
}

.mr-l-83 {
  margin-left: 83px !important;
}

.mr-l-84 {
  margin-left: 84px !important;
}

.mr-l-85 {
  margin-left: 85px !important;
}

.mr-l-86 {
  margin-left: 86px !important;
}

.mr-l-87 {
  margin-left: 87px !important;
}

.mr-l-88 {
  margin-left: 88px !important;
}

.mr-l-89 {
  margin-left: 89px !important;
}

.mr-l-90 {
  margin-left: 90px !important;
}

.mr-l-91 {
  margin-left: 91px !important;
}

.mr-l-92 {
  margin-left: 92px !important;
}

.mr-l-93 {
  margin-left: 93px !important;
}

.mr-l-94 {
  margin-left: 94px !important;
}

.mr-l-95 {
  margin-left: 95px !important;
}

.mr-l-96 {
  margin-left: 96px !important;
}

.mr-l-97 {
  margin-left: 97px !important;
}

.mr-l-98 {
  margin-left: 98px !important;
}

.mr-l-99 {
  margin-left: 99px !important;
}

.mr-l-100 {
  margin-left: 100px !important;
}
