/* Over all Padding */

.pd-0 {
  padding: 0 !important;
}

.pd-1 {
  padding: 1px !important;
}

.pd-2 {
  padding: 2px !important;
}

.pd-3 {
  padding: 3px !important;
}

.pd-4 {
  padding: 4px !important;
}

.pd-5 {
  padding: 5px !important;
}

.pd-6 {
  padding: 6px !important;
}

.pd-7 {
  padding: 7px !important;
}

.pd-8 {
  padding: 8px !important;
}

.pd-9 {
  padding: 9px !important;
}

.pd-10 {
  padding: 10px !important;
}

.pd-11 {
  padding: 11px !important;
}

.pd-12 {
  padding: 12px !important;
}

.pd-13 {
  padding: 13px !important;
}

.pd-14 {
  padding: 14px !important;
}

.pd-15 {
  padding: 15px !important;
}

.pd-16 {
  padding: 16px !important;
}

.pd-17 {
  padding: 17px !important;
}

.pd-18 {
  padding: 18px !important;
}

.pd-19 {
  padding: 19px !important;
}

.pd-20 {
  padding: 20px !important;
}

.pd-21 {
  padding: 21px !important;
}

.pd-22 {
  padding: 22px !important;
}

.pd-23 {
  padding: 23px !important;
}

.pd-24 {
  padding: 24px !important;
}

.pd-25 {
  padding: 25px !important;
}

.pd-26 {
  padding: 26px !important;
}

.pd-27 {
  padding: 27px !important;
}

.pd-28 {
  padding: 28px !important;
}

.pd-29 {
  padding: 29px !important;
}

.pd-30 {
  padding: 30px !important;
}

.pd-31 {
  padding: 31px !important;
}

.pd-32 {
  padding: 32px !important;
}

.pd-33 {
  padding: 33px !important;
}

.pd-34 {
  padding: 34px !important;
}

.pd-35 {
  padding: 35px !important;
}

.pd-36 {
  padding: 36px !important;
}

.pd-37 {
  padding: 37px !important;
}

.pd-38 {
  padding: 38px !important;
}

.pd-39 {
  padding: 39px !important;
}

.pd-40 {
  padding: 40px !important;
}

.pd-41 {
  padding: 41px !important;
}

.pd-42 {
  padding: 42px !important;
}

.pd-43 {
  padding: 43px !important;
}

.pd-44 {
  padding: 44px !important;
}

.pd-45 {
  padding: 45px !important;
}

.pd-46 {
  padding: 46px !important;
}

.pd-47 {
  padding: 47px !important;
}

.pd-48 {
  padding: 48px !important;
}

.pd-49 {
  padding: 49px !important;
}

.pd-50 {
  padding: 50px !important;
}

.pd-51 {
  padding: 51px !important;
}

.pd-52 {
  padding: 52px !important;
}

.pd-53 {
  padding: 53px !important;
}

.pd-54 {
  padding: 54px !important;
}

.pd-t-1 {
  padding-top: 1px !important;
}

.pd-t-2 {
  padding-top: 2px !important;
}

.pd-t-3 {
  padding-top: 3px !important;
}

.pd-t-4 {
  padding-top: 4px !important;
}

.pd-t-5 {
  padding-top: 5px !important;
}

.pd-r-10 {
  padding-right: 10px !important;
}

.pd-l-10 {
  padding-left: 10px !important;
}
