.skeletonButton {
  position: relative;
  border-radius: 50px;
  background-color: var(--skeletonColor);
}

.skeleton-content {
  position: relative;
  background-color: var(--skeletonColor);
  border-radius: 4px;
}

.skeleton-content::after,
.chart-outer::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
  background: linear-gradient(90deg, transparent 0%, rgba(242, 242, 242, 0.2) 20%, rgba(242, 242, 242, 0.3) 60%, transparent 0);
  animation: animate 2s infinite ease-out;
}

@keyframes animate {
  100% {
    transform: translateX(50%);
  }
}

.quick-link-card > div span {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.quick-link-card h6 span {
  display: inline-block;
  width: 100px;
  height: 13px;
}

.pie-chart-skeleton {
  position: relative;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.pie-chart-skeleton h6 {
  padding: 15px 0;
  border-bottom: 2px solid var(--borderDarkColor);
  margin-bottom: 20px;
}

.pie-chart-skeleton h6 span {
  display: inline-block;
  width: 100px;
  height: 20px;
}

.pie-chart-skeleton > div span {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.pie-chart-skeleton .pie-chart-legends span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 0;
}

.brand-skeleton {
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.brand-skeleton .brand-logo-skeleton span {
  display: inline-block;
  width: 15vw;
  height: 10vh;
}

.brand-skeleton .brand-content-skeleton span {
  display: inline-block;
  width: 25vw;
  height: 5vh;
}

.brand-skeleton .brand-content-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-content-body h6 {
  width: 17vw;
  height: 4vh;
  margin: 0;
}

.brand-content-body button {
  width: 10vw;
  height: 5vh;
}

.link-card-outer {
  position: relative;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.link-card-outer .quick-link-card {
  background-color: var(--tableHeadingBackground);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .skeleton-card-detail-wrapper {
    flex-direction: column !important;
    margin-bottom: 10px;
  }

  .fx-b70 {
    flex: 0 0 100%;
    max-width: 100% !important;
  }

  .fx-b30 {
    flex: 0 0 100%;
    max-width: 100% !important;
    padding: 0 !important;
  }

  .fx-b33 {
    flex-basis: 50%;
    max-width: 50% !important;
  }

  .quick-link-card > div span {
    width: 40px;
    height: 40px;
  }

  .link-card-outer .quick-link-card {
    padding: 10px;
  }
}
