<div class="skeleton-outer">
    <div class="brand-skeleton">
        <div class="flex align-items-center justify-content-between mr-b-20">
            <div class="brand-logo-skeleton">
                <span class="skeleton-content"></span>
            </div>
            <div class="brand-content-skeleton">
                <span class="skeleton-content"></span>
            </div>
            <div class="brand-logo-skeleton">
                <span class="skeleton-content"></span>
            </div>
        </div>
        <div class="brand-content-body">
            <div>
                <h6 class="skeleton-content mr-b-5"></h6>
                <h6 class="skeleton-content"></h6>
            </div>
            <button class="skeleton-content"></button>
        </div>
    </div>
    <div class="skeleton-card-detail-wrapper flex">
        <div class="fx-b70">
            <div class=" flex align-items-center justify-content-center link-card-outer">
                <div *ngFor="let i of elementCountHandler(4); trackBy: trackByFn" class="fx-b33">
                    <div class="quick-link-card">
                        <div class="mr-b-20">
                            <span class="skeleton-content"></span>
                        </div>
                        <h6>
                            <span class="skeleton-content"></span>
                        </h6>
                    </div>
                </div>

            </div>
        </div>
        <div class="fx-b30 pd-l-10">
            <div class="pie-chart-skeleton">
                <h6>
                    <span class="skeleton-content"></span>
                </h6>
                <div class="text-center mr-b-20">
                    <span class="skeleton-content"></span>
                </div>
                <div class="pie-chart-legends text-center">
                    <span class="skeleton-content mr-r-10"></span>
                    <span class="skeleton-content"></span>
                </div>
            </div>
        </div>
    </div>
</div>